psp-integracion/conf/region/xsd/opcerrorrequest.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="OpcErrorRequest" type="opcErrorMongoRequest"/>

  <xs:complexType name="dateAdapter">
    <xs:complexContent>
      <xs:extension base="xmlAdapter">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="xmlAdapter" abstract="true">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="opcErrorMongoRequest">
    <xs:sequence>
      <xs:element name="desde" type="xs:string"/>
      <xs:element name="hasta" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

